<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <!-- <h1>Hello {{user?.signInDetails?.loginId}}'s todos</h1> -->

    <h1>My todos</h1>
    <button (click)="createTodo()">+ new</button>
    <ul>
        <li *ngFor="let todo of todos;"  (click)="deleteTodo(todo.id)">
            {{ todo.content }}
        </li>
    </ul>
    <div>
        🥳 App successfully hosted. Try creating a new todo.
        <br />
        <a href="https://docs.amplify.aws/gen2/start/quickstart/">
            Review next steps of this tutorial.
        </a>
    </div>


    <ion-button (click)="signOut()" expand="block" fill="clear" shape="round">
      Sign Out
    </ion-button>


    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>