<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <h1>Hello {{ signInDetails.loginId }}</h1>

    <!-- Area -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h1>Areas</h1>
          <ion-button (click)="createArea()" fill="solid">
            + new Area
          </ion-button>
          <ion-list>
            <ion-item *ngFor="let area of areas;" (click)="deleteArea(area.id)">
              {{ area.areaName }}
            </ion-item>
          </ion-list>
        </ion-col>

        <!-- Retos -->
        <ion-col size="6">
          <h1>Retos</h1>
          <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input [(ngModel)]="retoName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Description: </ion-label>
            <ion-input [(ngModel)]="retoDescription"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Area</ion-label>
            <ion-select [(ngModel)]="selectedArea" (ionChange)="onSelectChange($event)">
              <ion-select-option *ngFor="let area of areas;" [value]="area">{{ area.areaName }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button (click)="createReto()" fill="solid">
            + new Reto
          </ion-button>
          <ion-list>
            <ion-item *ngFor="let reto of retos;" (click)="deleteReto(reto.id)">
              {{ reto.retoName }}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>



    <!-- <div>
        🥳 App successfully hosted. Try creating a new todo.
        <br />
        <a href="https://docs.amplify.aws/gen2/start/quickstart/">
            Review next steps of this tutorial.
        </a>
    </div> -->


    <ion-button (click)="signOut()" expand="block" fill="clear" shape="round">
      Sign Out
    </ion-button>


    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>